body{
    background-color: black;
}
h1 {
    text-align: center;
    color: white;
    background-color: blue;
}
h2 {
    color: white;
}
p{
    font-size: 18px;
    color: white;
    
}
nav{
    background-color: white;
}