body{
    background-color: black;
}
h1 {
    text-align: center;
    color: white;
    background-color: blue;
    font-size: 25x;
}
h2 {
    color: white;
}
p{
    color: red;
    background-color: white;
}
nav{
    background-color: white;
}